/*
 * @Description: 全局样式
 * @Author: AodaZhang 2021.04.09
 */
@import (once, reference) './variable.less';
@import (once) './mixin.less';
@import (once) './antdv.less'; // ant-design-vue全量引入：引入全量样式
@import (once) './reset.less';
@import (once) './transition.less';

a {
  color: @--color-blue;
}

a.del {
  color: @--color-red;
}

.flex-center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.flex-end {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.flex-between {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.flex-item-grow {
  flex: 1 0 auto;
}

.flex-item-shrink {
  flex: 0 1 auto;
}

.font-nowrap {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}