/*
 * @Description: less define
 * @Author: AodaZhang 2021.02.22
 */

// 一.设备屏幕宽度
@--device-screen-large: ~"screen and (min-width:50.1em)"; // 800px+
@--device-screen-middle: ~"screen and (min-width:30.1em) and (max-width:50em)"; // 480px~800px
@--device-screen-small: ~"screen and (max-width:30em)"; // 480px-

// 二.设备dpr
@--device-dpr3: ~"(-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3)"; // 3倍屏
@--device-dpr2: ~"(-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2)"; // 2倍屏

// 三.动画
// 1.线性动画曲线
@--animation-bezier-1: cubic-bezier(.21, .67, .01, .99); // 先极快后极慢
// 2.非线性动画插值
@--animation-steps-1: steps(1); // 只播放关键帧
@--animation-steps-2: steps(2); // 关键帧插值1

// 四.字体
@--font-family-text: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
  Helvetica, Segoe UI, Arial, Roboto, 'PingFang SC', 'miui', 'Hiragino Sans GB',
  'Microsoft Yahei', sans-serif;
@--font-family-number: Avenir-Heavy, PingFang SC, Helvetica Neue, Arial,
  sans-serif;

// 五.资源
// 1.图片目录
@--source-image: '../../../assets/image';